<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.SearchMapper">
    <select id="select_sku_product" parameterType="int"
    resultMap="select_sku_product_map">
    select
    car.sku_id ,car.tjshl,car.hj,car.yh_id,car.shp_tp,
    car.sku_mch,car.sku_jg,
		attr.shxm_mch as attr_name,
		CONCAT(val.shxzh,val.shxzh_mch) as value_name
		from
		t_mall_attr
		attr,
		t_mall_value
		val,
		t_mall_sku_attr_value attr_value,
    t_mall_shoppingcar car
		where
		car.sku_id
		=
		attr_value.sku_id
		and
		attr_value.shxm_id = attr.Id
		and
		attr_value.shxzh_id = val.Id
    and car.yh_id=#{yh_id}
    </select>
   <resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU_PRODUCT"
   				id="select_sku_product_map" autoMapping="true">
   	<collection ofType="com.atguigu.bean.OBJECT_T_MALL_ATTR_VALUE_NAME"
			property="list_attr_value_name" autoMapping="true">
		</collection>	
   	</resultMap>

	<select id="select_object_sku_by_sku_id" parameterType="int"
		resultMap="select_object_sku_by_sku_id_map">
		select sku.id as sku_id,spu.id as
		spu_id,
		sku.*,spu.*,
		attr.id
		as attr_id,
		val.id as value_id,
		attr.shxm_mch as attr_name,
		CONCAT(val.shxzh,val.shxzh_mch) as value_name
		from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_attr
		attr,
		t_mall_value
		val,
		t_mall_sku_attr_value attr_value
		where
		sku.shp_id =
		spu.Id
		and
		sku.Id
		=
		attr_value.sku_id
		and
		attr_value.shxm_id = attr.Id
		and
		attr_value.shxzh_id = val.Id
		and
		sku.Id =
		#{sku_id}
	</select>

	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU"
		id="select_object_sku_by_sku_id_map" autoMapping="true">

		<result column="sku_id" property="id" />
		<association property="spu"
			javaType="com.atguigu.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<collection ofType="com.atguigu.bean.OBJECT_T_MALL_ATTR_VALUE_NAME"
			property="list_attr_value_name" autoMapping="true">

		</collection>
	</resultMap>

	<select id="select_sku_list_by_shp_id" parameterType="int"
		resultType="com.atguigu.bean.T_MALL_SKU">
		select * from t_mall_sku where shp_id = #{shp_id}
	</select>

	<select id="select_tm_by_class_2_id" parameterType="int"
		resultType="com.atguigu.bean.T_MALL_TRADE_MARK">
		select tm.* from t_mall_trade_mark tm where id in
		(select
		max(tm.id) from t_mall_sku sku, t_mall_product spu ,t_mall_trade_mark
		tm
		where sku.shp_id = spu.id and spu.pp_id = tm.id and spu.flbh2 =
		#{class_2_id} GROUP BY
		tm.Id)
	</select>

	<select id="select_attr_by_class_2_id" parameterType="int"
		resultMap="select_attr_by_class_2_id_map">
		select a.id as attr_id,b.id as value_id,a.*, b.* from
		t_mall_attr a
		,t_mall_value b,t_mall_sku_attr_value c
		where a.Id =
		b.shxm_id
		and a.id = c.shxm_id and b.Id = c.shxzh_id
		and a.flbh2 =
		#{class_2_id}
	</select>

	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_ATTR"
		id="select_attr_by_class_2_id_map" autoMapping="true">
		<result column="attr_id" property="id" />
		<collection ofType="com.atguigu.bean.T_MALL_VALUE"
			property="list_value" autoMapping="true">
			<result column="value_id" property="id" />
		</collection>
	</resultMap>

	<select id="select_sku_by_class_2_id_and_attr_value"
		parameterType="Map" resultMap="select_sku_by_class_2_id_and_attr_value_map">
		select sku.id as sku_id,spu.id as
		spu_id,tm.id as tm_id, sku.*,spu.*,tm.* from
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_class_1 class_1,
		t_mall_tm_class tm_class,
		t_mall_trade_mark tm
		where
		sku.shp_id = spu.id and
		spu.flbh1 = class_1.id
		and
		class_1.id = tm_class.flbh1 and
		tm_class.pp_id = tm.id and spu.pp_id
		= tm.Id
		and
		spu.flbh2 = #{class_2_id}
		${sql}
		${order}
	</select>

	<resultMap type="com.atguigu.bean.OBJECT_T_MALL_SKU"
		id="select_sku_by_class_2_id_and_attr_value_map" autoMapping="true">
		<result column="sku_id" property="id" />
		<association property="spu"
			javaType="com.atguigu.bean.T_MALL_PRODUCT" autoMapping="true">
			<result column="spu_id" property="id" />
		</association>
		<association property="tm"
			javaType="com.atguigu.bean.T_MALL_TRADE_MARK" autoMapping="true">
			<result column="tm_id" property="id" />
		</association>
	</resultMap>

</mapper>
